@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: #fff;
$subtitle-color: #fff;
// $fullhd: 950px;
// Arregla esto con las comunas
$hr-background-color: none;

$novice: #1eff00;
$rare: #0070dd;
$epic: #a335ee;
$legendary: #ff8000;

@import "~bulma/bulma.sass";

.devBox {
  border: 3px solid red;
}


body {
  background-color: $dark;
}

.hero-body {
  padding: 2rem 1.5rem !important;
}

.marginB35 {
  margin-bottom: 35px !important;
}


.profileContentBox {
  display: flex;
}

.profileContentBox > div {
  margin-left: 35px;
  padding-top: 32px;
}

.profileImageBox {
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid rgb(43, 43, 43);
  margin: auto;
}

.profileSubContentBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px !important;
  text-align: justify;
}

.uleamImageBox {
  width: 280px;

}



// HELPERS

.is-content-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.is-content-centered-mobile {
  @media (max-width: 768px ) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.is-content-centered-tablet {
  @media (min-width: 768px) and (max-width: 1024px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// END HELPERS

// MEDIAS START

@media (max-width: 768px ) {
  .profileContentBox, .profileSubContentBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


// MEDIAS END


// TIMELINE START
$bg: $grey-darker;

$color: #87D6A3;


.blue-bg {
  background-color: $bg;
  color: $color;
  height: 100%;
}

.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: $color;
  color: $bg;
  height: 55px;
  width: 55px;
  z-index: 2;
}

.circle-k {
  font-size: small;
  font-weight: bold;
  border-radius: 50%;
  background-color: $color;
  color: $black;
  height: 40px;
  width: 40px;
  height: 20px;
    width: 20px;
    padding: 0;
    color: #fff;
}

.how-it-works.columns {
  display: flex;
  .column.is-2 {
    display: inline-flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    &::after {
      content: "";
      position: absolute;
      border-left: 3px solid $color;
      z-index: 1;
    }
  }
  .column.is-2.bottom {
    position: relative;
    &::after {
      height: 50%;
      left: 50%;
      top: 50%;
    }
  }
  .column.is-2.full {
    position: relative;
    &::after {
      height: 100%;
      left: calc(50% - 3px);
    }
  }
  .column.is-2.fulls {
    position: relative;
    &::after {
      height: 100%;
      left: calc(50%);
    }
  }
  .column.is-2.top {
    position: relative;
    &::after {
      height: 50%;
      left: 50%;
      top: 0;
    }
  }
}

.timeline {
  div {
    padding: 0;
    height: 40px;
  }
  hr {
    border-top: 3px solid $color;
    margin: 0;
    top: 17px;
    position: relative;
  }
  .column.is-2 {
    display: flex;
    overflow: hidden;
  }
  .corner {
    border: 3px solid $color;
    width: 100%;
    position: relative;
    border-radius: 15px;
  }
  .top-right {
    left: 50%;
    top: -50%;
  }
  .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
  }
  .top-left {
    left: -50%;
    top: -50%;
  }
  .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
  }
}

.align-items-center {
  align-items: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  
  border-top: 9px solid $color;
  margin-left: 91.6%;
}
.mb-0 {
  margin-bottom: 0 !important;
}
// TIMELINE END

